body {
    font-family: 'Kreon', serif;
    min-height: 100vh;
}
li.list-group-item {
    padding: 0;
}
a.nav-link.horizontal-group-item {
    padding: 8px 8px 8px 0px;
}
.rounded-circle {
    display: inline-block;
    padding: 0;
    line-height: 150px;
    width: 150px;
    height: 150px;
    margin-right: 10px;
}
a.navbar-brand {
    font-family: 'Kreon', serif;
    letter-spacing: 0.1em;
    font-weight: 400;
}
a.nav-link{
    border-bottom: 2px solid #ffffff;
}

a.nav-link:hover {
    border-bottom: 2px solid #000;  

}
.jumboBackgroundImg {
    background-image: url("../img/jumbobg.jpg");
    background-size: cover;
}
#aboutMe{
    font-weight: 600;
}

@media only screen and (max-width: 576px) {
    main.container {
      margin-bottom: 3rem;
    }
  }
